@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width : 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
}
header .logo img
{
    max-width: 120px;
}
header .dropdown img
{
    max-width: 120px;
    cursor: pointer ;
}
.banner
{
    position: relative;
    width: 100%;
    min-height: 100 vh;
    padding: 0 100px;
    background:white;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.banner .content
{
    max-width:  550px;
    vertical-align: left;
    position: relative;
    top: 200px;
}
.banner .content h2
{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    color: black;
}
.banner .content h2 span
{
        font-weight: 800;
}
.banner .content p
{
 font-size: 1.2em;
 font-weight: 300;
 letter-spacing: 0.02em;
 line-height: 1.5em;
 color: black;
 margin: 14px 0 35px;

}
.sci
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrapper {
      margin: auto;
      max-width: 640px;
      padding-top: 200px;
      text-align: center;
    }

    .container {
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 10px;
      /*border: 0.5px solid rgba(130, 130, 130, 0.25);*/
      /*box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 
                0 0 0 1px rgba(0, 0, 0, 0.1);*/
    }

    h1 {
      color: #130f40;
      font-family: 'Varela Round', sans-serif;
      letter-spacing: -.5px;
      font-weight: 700;
      padding-bottom: 10px;
    }

    .upload-container {
      background-color: rgb(239, 239, 239);
      border-radius: 6px;
      padding: 10px;
    }

    .border-container {
      border: 5px dashed rgba(198, 198, 198, 0.65);
      border-radius: 6px;
      padding: 20px;
    }

    .border-container p {
      color: #130f40;
      font-weight: 600;
      font-size: 1.1em;
      letter-spacing: -1px;
      margin-top: 30px;
      margin-bottom: 0;
      opacity: 0.65;
    }

    #file-browser {
      text-decoration: none;
      color: rgb(22, 42, 255);
      border-bottom: 3px dotted rgba(22, 22, 255, 0.85);
    }

    #file-browser:hover {
      color: rgb(0, 0, 255);
      border-bottom: 3px dotted rgba(0, 0, 255, 0.85);
    }

    .icons {
      color: #95afc0;
      opacity: 0.55;
    }

    .dropbtn  {
  background: url(toggle.png);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

@media (max-width: 991px)
{
    header {
        padding: 20px 50px;
        
    }
    header .toggle
    {
        max-width: 40px;
    }
    .banner .content h2
    {
        font-weight: 400;
        font-size: 2em;
        letter-spacing: 0.05em;
    }
}